.title{
    margin: 20px;
    text-decoration: underline;
}
#questions{
  margin: 20px auto;
  width: 50%;
  border-radius: 15px;
  height: 30px;
}
::placeholder{
    text-align: center;
}
textarea{
    width: 50%;
    height: 200px;
    margin: 20px auto;
    resize: none;
    border-radius: 20px;
}
.questionAkafi{
  background-color: #C1C9C2;
  border-radius: 20px;
  height: 500px;
}
.passAkafi{
  background-color:#1873cc;
  height: 300px;
  padding-top: 20px;
  border-radius: 20px;
}
#inputStyle1,#inputStyle2{
  margin: 20px auto;
  width: 400px;
  border-radius: 10px;
  height: 40px;
}